doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    

    h1= title
    p Welcome to #{title}
    h1 This is the virtual joystick

    <div id="main">
      <div id="wrapper">
      </div>
    </div>
        
